.panel {
    background-color: rgb(255, 255, 255);
    right: auto;
    bottom: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    align-content: auto;
    align-self: auto;
    padding-left: 0;
    background-position-y: center 0;
    background-position-x: center 0;
}

.sectionButton {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    -unity-background-scale-mode: stretch-to-fill;
    background-size: 100% 100%;
    min-width: 0;
    max-width: 100px;
    align-self: center;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: auto;
    width: 90px;
}
