.inventory-screen {
    background-color: rgb(255, 255, 255);
    position: absolute;
    border-top-width: 4px;
    border-right-width: 4px;
    border-bottom-width: 4px;
    border-left-width: 4px;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    align-self: center;
}

.header {
    font-size: 60px;
    -unity-text-align: middle-center;
}

.item-button {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    width: 480px;
    height: 75px;
    margin-bottom: 15px;
    font-size: 35px;
}
